body {
    background-color: black;
    color: white;
}
.header {
    text-align: center;
}
img {
    image-rendering: optimizeSpeed;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    width: auto;
}
ol {
    text-align: left;
}
div {
    background-image: url(server.png);
}
.aboutme {
    color: white;
}